<div class="d-flex flex-column text-center col-sm-2">
  <div>
  	<div class = "hover-trans">
  	<a href="/users/<%= user.id %>">
		<%= gravatar_for(user, size: 30 ) %>
  	</div>
  	<div class = ""><%= user.fullname %></div></a>
  </div>	
</div>