/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap-sprockets';
 @import 'bootstrap';

 #customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {

  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.color_select input[type="radio"] {
  display: none;
}

.color_select span {
  display: inline-block;
  padding: 5px;
  font-size: 14px!important;
  text-transform: uppercase;
  border: 2px solid gold;
  border-radius: 3px;
  color: gold;
}

.color_select input[type="radio"]:checked + span {
  background-color: gold;
  color: black;
}
.rom_select input[type="radio"] {
  display: none;
}

.rom_select span {
  display: inline-block;
  padding: 5px;
  font-size: 14px!important;
  text-transform: uppercase;
  border: 2px solid gold;
  border-radius: 3px;
  color: gray;
}

.rom_select input[type="radio"]:checked + span {
  background-color: skyblue;
  color: red;
}

.ram_select input[type="radio"] {
  display: none;
}

.ram_select span {
  display: inline-block;
  padding: 5px;
  font-size: 14px!important;
  text-transform: uppercase;
  border: 2px solid gold;
  border-radius: 3px;
  color: gray;
}

.ram_select input[type="radio"]:checked + span {
  background-color: skyblue;
  color: red;
}


#notice-select{
	color: red;
}



